/ Piggy backing on Facebook's CSS
.wallkit_post
  .wallkit_profilepic
    = fb_profile_pic caption.user.site_user_id
  .wallkit_postcontent
    %h4
      = link_to "Joe Van Dyk", "#"
      == wrote<span class="wall_time">#{ caption.created_at } </span>

      - if caption.voted_for? current_user
        You voted for this one!
      - elsif caption.can_vote_for_caption? current_user
        = link_to "Vote it up!", votes_path(caption) 

      == This has #{ caption.votes_count } votes.

    %div= link_to caption.caption, caption_path(caption)
    
