/ Piggy backing on Facebook's CSS
.caption-container
  .caption-author
    = profile_pic caption.user
  .caption-info
    %h4
      = link_to name(caption.user), "#"
      == wrote <span class="wall_time">#{ caption.created_at }</span>

      - if caption.voted_for? current_user
        You voted for this one!
      - elsif caption.can_vote_for_caption? current_user
        = link_to "Vote it up!", votes_path(caption) 

      == This has #{ caption.votes_count } votes.

    .caption= link_to caption.caption, caption_path(caption)
    
