#photo-cont{:class => "#{ 'fold' if show_fold? }"}
  #photo
    - if photo.captioning?
      = link_to show_media(photo), new_caption_url
    - else
      = show_media(photo)

    %p#tagline 
      Flickr photo by: 
      = link_to photo.author, photo.photostream 
      - if photo.previous_winner
        | Yesterday's Winner: 
        = name photo.previous_winner 

    - if show_add_caption?(photo)
      %a{:name => "add_caption"}
      #add-caption-overlay= link_to image_tag("add_caption.gif", :id => "add-caption-image", :alt => "Add your own caption!"), new_caption_url
  = body
