%h1 Current DailyCaption Contest

#contests.clearfix
  #current-contest
    #photo
      = link_to_function(show_media(Photo.current), "$('new-caption').toggleClassName('hidden');")
      %p.tagline== Flickr photo by: #{link_to Photo.current.author, "#"}
    #new-caption.hidden
      - facebook_form_for Caption.new, :url => "http://dailycaption.com:4007/captions" do |f| 
        = f.text_field :caption 
        = hidden_field_tag :photo_id, Photo.current.id
        = f.buttons "Add Caption!"
        
    This is where the number 1 caption goes!  
      
  #past-contests
    %b Past Contests
    %dl
      %dt= link_to show_media(Photo.current, :square), "#"
      %dd= link_to "Yesterday", "#"
    %dl
      %dt= link_to show_media(Photo.current, :square), "#"
      %dd= link_to "Wednesday", "#"
    %dl
      %dt= link_to show_media(Photo.current, :square), "#"
      %dd= link_to "Tuesday", "#"
    %dl
      %dt= link_to show_media(Photo.current, :square), "#"
      %dd= link_to "Monday", "#"
      
    %p= link_to "View all past contests", "#"
    
#competing-captions
  %fb:wall
    %fb:wallpost{:uid=>"10701640", :t=>"1180502413"}
      This actually might not work since we need to link the author to the user's dailycaption profile instead of fb profile
      .float-right
        %fb:share-button{:class=>"url", :href=>"http://apps.facebook.com/example"}
      %fb:wallpost-action{:href=>"#"}
        %b 20 Comments
      %fb:wallpost-action{:href=>"#"}
        This is spam
