%fb:subtitle
  %fb:action{:href=>"#{update_profile_url(user)}"} Refresh
  %fb:action{:href=>"#{user_url(user)}"} Full Profile
  %fb:action{:href=>"#{new_caption_url}"} Add New Caption

#dailycaption-fb-profile
  - fb_wide do
    = render :partial => "shared/canvas_sass"
    %h4== #{first_name user} most recent caption
    - if user.most_recent_caption
      = render :partial => "contests/photo_caption", :locals => {:photo => user.most_recent_caption.photo, :caption => user.most_recent_caption, :show_date => false}
    - else
      %p== #{first_name user, :possessive => false} has not created any captions yet!
  
    #dailycaption-overview.clearfix
      #stats
        %h4== #{first_name user} stats
        = render :partial => "/users/stats", :locals => {:user => user}
      - unless user.recently_voted_captions.empty? 
        #voted-captions
          %h4 Voted up captions
          = render :partial => "contests/simple_caption", :collection => user.recently_voted_captions

    - unless user.friends.empty?
      #friends
        %h4== #{first_name user} friends who captions
        - for friend in user.friends
          = link_to fb_profile_pic(friend.site_user_id, :size => :square, :linked => false, :title => "#{friend.facebook_user.name}"), user_url(friend)
            
  - fb_narrow do
    #narrow
      = render :partial => "shared/canvas_sass"

      - if user.most_recent_caption
        %h4.first== #{first_name user} most recent caption
        = render :partial => "contests/simple_caption", :object => user.most_recent_caption
  
      %h4== #{first_name user} stats
      = render :partial => "/users/stats", :locals => {:user => user}
  
      %h4== #{first_name user} voted up captions
      = render :partial => "contests/simple_caption", :collection => user.recently_voted_captions
