%table#profile-stats.profileTable{ :cellspacing=>"0", :border=>"0" }
  %tr
    %td.label.strong Total Wins:
    %td.data= user.number_of_wins
  %tr
    %td.label Total Captions:
    %td.data= user.number_of_captions
  %tr
    %td.label Total Votes Received
    %td.data= user.number_of_votes_received
  %tr
    %td.label Avg. Received Votes/Caption
    %td.data= number_with_precision(user.average_number_of_votes_received_per_caption,2)
  %tr
    %td.label Total Votes Given
    %td.data= user.number_of_votes_given
  %tr
    %td.label Total Comments:
    %td.data= user.comments.count
