#profile-page.clearfix
  #profile-info
    = profile_pic @user, :normal
    %table#profile-stats.profileTable{ :cellspacing=>"0", :border=>"0" }
      %tr
        %td.label Total Captions:
        %td.data= @user.captions.size
      %tr
        %td.label Total Votes:
        %td.data= @user.voted_captions.size
      %tr
        %td.label Total Comments:
        %td.data= @user.comments.size

  #profile-contributions
    %h1= name @user
    %p.quiet== DailyCaption user since #{ @user.created_at.to_s :short_date }
    = profile_section :title => "Captions", :link => user_captions_path(@user), :partial => 'contests/caption', :collection => @user.recently_created_captions
    = profile_section :title => "Voted on Captions", :link => user_votes_path(@user), :partial => 'contests/caption', :collection => @user.recently_voted_captions
    = profile_section :title => "Comments", :link => "#", :partial => 'captions/comment', :collection => @user.comments
