#profile-page.clearfix
  #profile-info
    = fb_profile_pic @user.facebook_user, :size => :normal
    = render :partial => "/users/stats", :locals => {:user => @user}    
    #profile-ad
      = iframe_ad "2865229586", "160", "600"

  #profile-contributions
    %h1= name_only @user, :useyou => false
    %p.quiet== DailyCaption user since #{ @user.created_at.to_s :short_date } | #{ link_to "View #{ first_name @user } Facebook profile", fb_profile_url(@user) }
    
    = profile_section :title => "Friends", :link => friends_user_path(@user), :partial => 'users/friend', :collection => @user.friends
    = profile_section :title => "Captions", :link => user_captions_path(@user), :partial => 'contests/caption', :collection => @user.recently_created_captions
    = profile_section :title => "Voted on Captions", :link => user_votes_path(@user), :partial => 'contests/caption', :collection => @user.recently_voted_captions
    = profile_section :title => "Comments", :link => "#", :partial => 'captions/comment', :collection => @user.comments.recent
