/ Can't use fb_wall_post since it only accepts fb_user (linking to FB profile).
/ We want to link to DC profile
%a{:name => dom_id(comment)}
.wallkit_post
  .wallkit_profilepic
    = profile_pic comment.user
  .wallkit_postcontent
    %h4== #{ name comment.user } wrote<span class="wall_time">at #{ comment.created_at.to_s(:long_date_and_time)}</span>
    %div
      - if on_profile_page?
        = link_to truncate(h(comment.comment),200, "..."), caption_url(comment.caption, :anchor => dom_id(comment))
      - else
        = simple_format(auto_link(h(comment.comment)))
    /
      -# if current_user == comment.user
        .wallactions
          %small Delete