%p= link_to "&lsaquo; Back to all captions for this contest", contest_url(@caption.photo)

- photo_cont @caption.photo do
  #best-caption
    = render :partial => "contests/caption", :object => @caption

%h2 Create a Comment
= facebook_messages
- facebook_form_for Comment.new, :url => comments_url do |f| 
  = f.text_area :comment
  = hidden_field_tag :caption_id, @caption.id
  = f.buttons "Add Comment!"

%h2 Comments
= render :partial => '/captions/comment', :collection => @caption.comments


%p= link_to "&lsaquo; Back to all captions for this contest", contest_url(@caption.photo)
