#caption-page
  %h1.title== #{ link_to @caption.photo.captioned_at.to_s(:long_date), contest_url(@caption.photo) } &rsaquo; Caption
  - photo_cont @caption.photo do
    #best-caption
      = render :partial => "contests/caption", :object => @caption

  #comments-container.clearfix
    #comments
      %a{:name=>"comments"}
      %h2.title== <span>#{ pluralize @caption.comments.size, 'Comment' }</span> so far...
      .box
        - if @caption.comments.empty?
          %p What do you think about this caption? Add your comment below!
        - else
          - fb_wall do
            = render :partial => '/captions/comment', :collection => @caption.comments

      %h2.title <span>ADD</span> a comment
      .box
        = facebook_messages
        - facebook_form_for Comment.new, {:url => comments_url}, {:labelwidth => 50, :width => 250} do |f| 
          = f.text_area :comment
          = hidden_field_tag :caption_id, @caption.id
          = f.buttons "Add Comment!"


      %p= link_to "&lsaquo; Back to all captions for this contest", contest_url(@caption.photo)
    
    #comments-sidebar
      #sponsor
        = ad_social_media "300", "250"
    