= stylesheet_link_tag "canvas", "facebook"
= javascript_include_tag "facebooker"

#canvas
  #hd
    #logo= link_to image_tag("/images/dc_logo.png", :alt => "DailyCaption"), index_path

    - fb_tabs do
      = fb_tab_item "Help & Feedback", fb_about_url, :selected => false, :align => "left"
      = fb_tab_item "Current Contest", index_url, :selected => current_tab?(:contest), :align => "right"
      = fb_tab_item "Past Contests", archive_contests_url, :selected => current_tab?(:archive), :align => "right"
      = fb_tab_item "Profile", user_url(current_user), :selected => current_tab?(:profile), :align => "right"
      = fb_tab_item "Invites", new_invitation_url, :selected => current_tab?(:friends), :align => "right"

  #bd
    = yield

  #ft
    %ul
      %li.strong== #{ link_to "A Fixie Production", "http://www.fixieconsulting.com" } - 
      %li== #{ link_to "About", fb_about_url } -
      %li== #{ link_to "News", index_url } -
      %li== #{ link_to "Help & Feedback", fb_about_url }
